{% extends "base.html" %}

{% block leftblock %}

<form role="form" action="/post/">
    <div class="form-group">
        <label for="thread_title">Title</label>
        <input type="text" class="form-control" id="thread_title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="thread_body">What do you want to say?</label>
        <textarea class="form-control" id="thread_body" rows="10"></textarea>
    </div>

    <div style="white-space: nowrap;" class="form-group">
        <div style="width:50%; white-space: normal; display: inline-block;">
            <select class="form-control" name="department">
                <option value="cs">Computer Science</option>
                <option value="math">Mathematics</option>
                <option value="econ">Economics</option>
                <option value="japn">Japanese</option>
                <option value="art">Arts</option>
            </select>
        </div>
        <div style="width:50%; white-space: normal; display: inline-block;">
            <select class="form-control" name="course">	  
            </select>  
        </div>
    </div>

    <button type="submit" style="margin-top: 10px; padding-left: 30px; padding-right: 30px;" class="btn btn-primary btn-lg pull-right">Submit</button>
</form>

<script>
    $('select[name=department]').change(function() {
        var department_name = $(this).val();
        var request_url = '/get_department/' + department_name + "/";
        $.ajax({
            url: request_url,
            success: function(data) {
                $.each(data[0], function(key, value) {
                    $('select[name=course]').append('<option value="' + this.key + '">')
                })
            }
            return false
        })
    })
</script>

{% endblock %}

