<div class="sidebar-module">
    <div style="width: 167px; margin: 0 auto;">
        <a href="/post/" class="btn btn-primary btn-lg">Post New Thread</a>
    </div>
</div>
<div style="margin-top: 20px;" class="sidebar-module">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#OfficeHours" aria-controls="OfficeHours" role="tab" data-toggle="tab">Office Hours</a></li>
            <li role="presentation"><a href="#MentorSessions" aria-controls="MentorSessions" role="tab" data-toggle="tab">Mentor Sessions</a></li>
            <li role="presentation"><a href="#Colloquium" aria-controls="Colloquium" role="tab" data-toggle="tab">Colloquium</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="OfficeHours">
                {% if user.forums.all %}
                <ul>
                    {% for forum in user.forums.all %}
                    {% if forum.office_hours%}
                    <li>{{forum.name}}:{{forum.office_hours}}</li>
                    {%endif%}
                    {%endfor%}
                    {% else %}
                    <p style="margin-top:8px;">Oops! Where are the professors?</p>
                    {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="MentorSessions">
                {% if user.forums.all %}
                <ul>
                    {% for forum in user.forums.all %}
                    {% if forum.mentor_sessions%}
                    <li>{{forum.name}}:{{forum.mentor_sessions}}</li>
                    {%endif%}
                    {%endfor%}
                    {% else %}
                    <p style="margin-top:8px;">Oops! Mentors are missing!</p>
                    {% endif %}
            </div>

            <div role="tabpanel" class="tab-pane" id="Colloquium">
                {% if user.forums.all %}
                <ul>
                    {% for forum in user.forums.all %}
                    {% if forum.colloquiums%}
                    <li>{{forum.name}}:{{forum.colloquiums}}</li>
                    {%endif%}
                    {%endfor%}
                      {% else %}
                    <p style="margin-top:8px;">There is no colloquium this year!</p>
                    {% endif %}
            </div>

        </div>

    </div>
</div>

